.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

i{
  color: orange;
  margin-right: 0.2rem;
}

button{
  background-color: #4a90e2 !important;
}

nav{
  background-color: #449043 !important;
}

label{
  color: orange !important;
  cursor: "pointer"
}

img:hover{
  opacity: 0.85;
  cursor: pointer;
}